<% provide(:title, "Edit #{@service.name}") %>

<%= render 'layouts/servicepanel' %>


<div class="col-sm-8">
  <h2>Editing Service: <%= @service.name %></h2>
  <div class="well">
    <%= render 'serviceform' %>

  </div>
</div>

<%= render 'layouts/rightbar' %>

