<% provide(:title, 'New Service') %>

<%= render 'layouts/servicepanel' %>

<div class="col-lg-8">
  <div class="well" id="formthing">
    <h2>New Service</h2>
    <%= render 'shared/error_messages' %>
    <%= render 'serviceform' %>
  </div>
</div>






























