language: ruby
dist: trusty
sudo: false
services:
  - redis
rvm:
  - 2.3.0
  - 2.3.4
  - 2.4.0
  - 2.4.2
cache: bundler

script:
  - /bin/bash travisSetup.sh
  - bundle exec rake

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b32edaad628354a304be
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always