<% provide(:title, "#{@plex_service.service.name}") %>

<%= render 'layouts/servicepanel' %>

<div class="col-lg-8">
  <div class="well">

    <h2>New Service</h2>
    <%= render 'shared/error_messages' %>

    <%= render 'plexserviceform' %>

  </div>
</div>








