<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>

var source;
source = new EventSource("<%= url_for(root_url + 'notifications') %>");
source.addEventListener('online_status', function (e) {
    var service;
    service = $.parseJSON(e.data);
    return $('#service_' + service.id).replaceWith(service.html);
});
source.addEventListener('plex_now_playing', function (e) {
    var i, j, k, plex_now_playing_data, stale_sessions, updated_progressbar, _ref, _ref2, _ref3, _results;
    plex_now_playing_data = $.parseJSON(e.data);
    if ($('[id^="streams_for_plex_service_"]').length && plex_now_playing_data.active_streams_html && plex_now_playing_data.active_streams_html.length) {
        console.log("Updating Active Streams");
        $('#streams_for_plex_service_' + plex_now_playing_data.plex_service_id).replaceWith(plex_now_playing_data.active_streams_html);
        $('#streams_for_plex_service_' + plex_now_playing_data.plex_service_id).show();
    } else if ($('[id^="streams_for_plex_service_"]').length) {
        console.log("Hiding active stream");
        $('[id^="streams_for_plex_service_"]').hide();
    } else {
        console.log("Adding new active stream");
        $('#navbar_links').prepend('<li>' + plex_now_playing_data.active_streams_html + '</li>');
    }
    updated_progressbar = "<div id=\"plex_progressbar_" + plex_now_playing_data.session_id + "\"\nclass=\"progress-bar progress-bar-warning\"\nrole=\"progressbar\"\naria-valuenow=\"" + plex_now_playing_data.progress + "\"\naria-valuemin=\"0\" aria-valuemax=\"100\"\nstyle=\"width: " + plex_now_playing_data.progress + "%\"></div>";
    if ($('#plex_session_' + plex_now_playing_data.session_id).length) {
        $('#plex_progressbar_' + plex_now_playing_data.session_id).replaceWith(updated_progressbar);
    } else {
        if ($("[id^=plex_recently_added_]")) {
            $("[id^=plex_recently_added_]").last().after(plex_now_playing_data.html);
        } else if ($("[id^=plex_session_]")) {
            $("[id^=plex_session_]").last().after(plex_now_playing_data.html);
        } else {
            $("[id^=carousel-inner]").append(plex_now_playing_data.html);
        }
    }
    stale_sessions = $.find("[id^=plex_session_]");
    if (plex_now_playing_data.active_sessions) {
        for (i = 0, _ref = plex_now_playing_data.active_sessions.length;
             0 <= _ref ? i < _ref : i > _ref;
             0 <= _ref ? i++
                 :
                 i--
        ) {
            for
            (j = 0
                 ,
                 _ref2 = stale_sessions.length;
             0 <= _ref2 ? j < _ref2 : j > _ref2;
             0 <= _ref2 ? j++
                 :
                 j--
            ) {
                if (stale_sessions[j].id === ("plex_session_" + plex_now_playing_data.active_sessions[i])) {
                    stale_sessions.splice(j, 1);
                    break;
                }
            }
        }
    }
    _results = [];
    for (k = 0, _ref3 = stale_sessions.length; 0 <= _ref3 ? k < _ref3 : k > _ref3; 0 <= _ref3 ? k++ : k--) {
        _results.push(!$("#" + stale_sessions[k].id).hasClass("active") && !$("#" + stale_sessions[k].id).hasClass("next") ? (console.log("Removing element " + stale_sessions[k].id), $("#" + stale_sessions[k].id).remove()) : void 0);
    }
    return _results;
});
source.addEventListener('plex_recently_added', function (e) {
    var new_pra, pra;
    pra = $.parseJSON(e.data);
    if ($('div[id^=plex_session_]').length < 3) {
        if ($('#plex_recently_added_' + pra.id).length) {
        }
        else {
            console.log("ID of new pra: " + pra.id);
            new_pra = "<div id=\"plex_recently_added_" + pra.id + "\" class=\"item\">\n  <div style=\"overflow: auto; height: 90%;\">\n    <h2>Recently Added</h2>\n    <div class=\"thumbnail\">\n      <img src=\"/images/" + pra.image + "\" alt=\"" + pra.id + "\" %>\n      <h3>" + pra.media_title + "</h3>\n      <p>" + pra.description + "</p>\n      <p>" + pra.added_date + "</p>\n    </div>\n  </div>\n</div>";
            if ($("[id^=plex_session_]")) {
                return $("[id^=plex_session_]").last().after(new_pra);
            } else if ($("[id^=plex_recently_added_]")) {
                return $("[id^=plex_recently_added_]").last().after(new_pra);
            } else {
                return $("[id^=carousel-inner]").append(new_pra);
            }
        }
    }
});
source.addEventListener('weathers', function (e) {
    var weather;
    weather = $.parseJSON(e.data);
    console.log("Here's the weather object id we got: " + weather.id);
    console.log(weather);
    return $.get(weather.self_uri, function (data) {
        $('#weather_' + weather.id).replaceWith(data);
        console.log(data);
    });
});