@import "bootstrap-sprockets";
@import "bootstrap";


body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 100%;
}

footer {
    margin: 50px 0;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.services_link {
  color: #000;
}

.services_link:focus {
  color: #777;
  text-decoration: none;
}

.services_link:hover {
  color: #777;
  text-decoration: none;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:75px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 70px;
  clear:both;
  padding-top:20px;
} 
