html, body {
  height: 100%;
}
// .table th, .table td { 
//     border-top: none !important; 
// }
 
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


.thumbnail img {
    width: 100%;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#notice {
  color: green;
}

// #error_explanation {
//   color: red;
//   ul {
//     color: red;
//     margin: 0 0 30px 0;
//   }
// }

// .field_with_errors {
//   @extend .has-error;
// //   .form-control {
// //     color: $state-danger-text;
// //   }
// }

#error_explanation {
  color: #a94442;
  // color: #a94442;
  // background-color: #f0f0f0;
  // ul {
  //   list-style: none;
  //   margin: 0 0 18px 0;
  // }

}

.field_with_errors {
  @extend .has-error;
}

.h2_index_link {
  color: #000;
}

.h2_index_link:focus {
  color: #777;
  text-decoration: none;
}

.h2_index_link:hover {
  color: #777;
  text-decoration: none;
}


#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:75px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 70px;
  clear:both;
  padding-top:20px;
} 




