<% provide(:title, 'About') %>

<%= render 'layouts/servicepanel' %>
<%= render 'layouts/rightbar' %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-md-pull-0 col-lg-pull-2">
  <h2>About</h2>
  <p>Plex-Board is an open source project meant to provide a simple-to-use dashboard for administrators and users of Plex servers.</p>
  <p>The project is hosted on GitHub here: <a href="https://github.com/scytherswings/Plex-Board">https://github.com/scytherswings/Plex-Board</a></p>
  <p>If you have any problems, feel free to ask in the <a href="https://gitter.im/scytherswings/Plex-Board">gitter</a> chat room.</p>
</div>



