<% provide(:title, 'About') %>

<%= render 'layouts/servicepanel' %>
<%= render 'layouts/rightbar' %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-md-pull-0 col-lg-pull-2">
  <h2>About</h2>
  <p><b>Plex-Board</b> is an open-source project meant to provide a simple-to-use dashboard for administrators and users of Plex servers.
  Monitors of services is done by opening a TCP socket to the port you specify when configuring them.</p>
  <p>The project is hosted on GitHub here: <a href="https://github.com/scytherswings/Plex-Board" target="_blank">https://github.com/scytherswings/Plex-Board</a></p>
  <p>If you have any problems, feel free to ask in the <a href="https://gitter.im/scytherswings/Plex-Board" target="_blank">gitter</a> chat room.
    Or create an issue <a href="https://github.com/scytherswings/Plex-Board/issues" target="_blank">here</a>.</p>

  <p>Feel free to send a donation my way if you like what you see! <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="B6MNRRPVZ34TN">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
  </p>
</div>



