<% provide(:title, 'Configuration') %>

<%= render 'layouts/servicepanel' %>
<%= render 'layouts/rightbar' %>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-md-pull-0 col-lg-pull-2">
  <h2>Configuration</h2>
  <p>This page hasn't been built yet..</p>
</div>







