<% provide(:title, 'Status') %>

<%= render 'layouts/servicepanel' %>

<div class="col-md-8">
<h1>Info#status</h1>
<p>Find me in app/views/info/status.html.erb</p>
</div>

<%= render 'layouts/rightbar' %>