</div>
</div>
</div>

<footer class="footer">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 text-center">
    <div class="row">
      <div class="well">
        <p>Still working on backend stuff this is just layout right now.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    
  </div>
  
</footer>

</body>

