<footer class="footer">
  <small>
    The <a href="http://www.test.org/">test</a>
    by <a href="http://www.test.com/">test</a>
  </small>
  <nav>
    <ul>
  
      <li><a href="http://test.org/">News</a></li>
    </ul>
  </nav>
</footer>