
  <!--<footer class="footer">-->
    <!--<div class="col-md-4">-->
    <!--</div>-->
    <!--<div class="col-md-4 text-center">-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--&lt;!&ndash;  <div class="well">&ndash;&gt;-->
      <!--&lt;!&ndash;    <p>Still have lots of backend work to do.</p>&ndash;&gt;-->
      <!--&lt;!&ndash;  </div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-md-4">-->

    <!--</div>-->

  <!--</footer>-->