<div id="<%= service.name %>">
 <%= link_to service.url, class: "services_link", :target => "_blank" do %>
  <button class="btn btn-xs btn-success" style="width:62px">
  <span class="glyphicon glyphicon-ok" style="color:white;"></span> Online</button>
  <div style="padding:1px"></div>
<% end %>
</div>