<div id="rightpanel" class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-sm-push-7 col-md-push-8 col-lg-push-8">
  <!--<h2>Rightbar</h2>-->
  <!--<p>Rightbar Content</p>-->
</div>