<div class="col-sm-2">
  <div class="row">
  
    <div class="col-md-12">
         <h2><%= link_to "Services", all_services_path, class: "services_link" %></h2>
    
      <div class="row">
         <div class="col-lg-4"  id="servicepanel">
            <%= render 'layouts/online_service' %>
          </div>
          <div class="col-lg-8" style="padding-left:20px">
              <%= link_to service.name, service, class: "services_link" %>
          </div>
      </div>
  
    </div>
   </div>
</div>