<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <% unless @services.nil? %>
        <% unless @services.empty? && @services.blank? %>
           <h2><%= link_to 'Services', all_services_path, class: 'h2_index_link' %></h2>
        <% end %>

        <div id="servicepanel">
           <%= render @services %>
        </div>
      <% end %>
    </div>
  </div>
</div>