<div class="col-sm-2">
  <div class="row">
  <% if !@services.nil? || !@services.empty? %>
    <div class="col-sm-12">

         <h2><%= link_to "Services", new_service_path, class: "services_link" %></h2>


    <% @services.each do |service| %>
      <div class="row">
         <div class="col-sm-4 nopadding">
          <%= link_to service.url, class: "services_link" do %>
            <button class="btn btn-xs btn-warning" style="width:62px">
            <span class="glyphicon glyphicon-remove" style="color:white;"></span> Offline
            </button>
            <div style="padding:1px"></div>
          <% end %>
        </div>
        <div class="col-sm-8 nopadding">

            <%= link_to service.name, service, class: "services_link" %>


        </div>
       
      </div>
    <% end %>
    </div>

  <% end %>
  </div>
</div>