<p class="lead">Services</p>
<div class="list-group">
    <% if !@services.empty? %>
        <% @services.each do |service| %>
           <li class="list-group-item"><%= link_to service.name, services_path %></li>
        <% end %>
    <% else %>
        <li class="list-group-item"><%= link_to "Add Service", new_service_path %></li>
    <% end %>
        
    <!--<a href="#" class="list-group-item active">Category 1</a>-->
    <!--<a href="#" class="list-group-item">Category 2</a>-->
    <!--<a href="#" class="list-group-item">Category 3</a>-->
</div>  

