<p class="lead">Services</p>
<div class="list-group">
    <% @services.each do |service| %>
       <li class="list-group-item"><%= service.name %></li>
    <% end %>
    <!--<a href="#" class="list-group-item active">Category 1</a>-->
    <!--<a href="#" class="list-group-item">Category 2</a>-->
    <!--<a href="#" class="list-group-item">Category 3</a>-->
</div>  

