<div class="container">

<div class="row">

    <div class="col-md-3">
        <p class="lead">Services</p>
        <div class="list-group">
            <a href="#" class="list-group-item active">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>
    </div>