<% if !@services.empty? %>
    <h2><%= link_to "Services", new_service_path %></h2>
    
    <div class="list-group">
        <% @services.each do |service| %>
           <li class="list-group-item"><%= link_to service.name, service_path(service.id) %></li>
        <% end %>
    </div>
<% end %>
